/* HTML5 template (BASE) by I. Kudo */

@charset "UTF-8";
@-ms-viewport	{width: device-width;}

/* 全体 */
body {margin: 0; font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}

/* ヘッダー#1 */
.header         {padding: 12px; background-color: #eeffff;}
.header .logo   {margin: 0 10px 14px 0; border: none; vertical-align: -25px;}
.header h1      {margin: 0; font-size: 40px; line-height: 0.5; text-align: left}
.header h1 a    {color: #000; text-decoration: none;}
.header p       {text-align: center; margin: 0 0 0px 10px; padding: 0; font-size: 18px; line-height: 0.5;}
.header .button {display: inline-block; padding 10px 30px 10px 30px; background-color: #ed1a7d; color: #fff; font-size: 14px; text-decoration: none;}


